* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$primary-text-color: rgb(60, 203, 255);
$btn-color: rgb(0, 157, 255);
body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  min-height: 100dvh;
}

button {
  padding: 10px 20px;
  background-color: rgb(31, 31, 31);
  border: 1px solid rgb(138, 138, 138);
  color: white;
  border-radius: 8px;
  border: 1.7px solid rgb(123, 123, 123);
}

.items {
  margin: 10px;
  div {
    padding: 8px 15px;
    background-color: rgb(60, 60, 60);
    margin-bottom: 4px;
    border-radius: 6px;
  }
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input {
  background-color: rgb(36, 36, 36);
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  &:focus {
    outline: none;
  }
}

.payments {
  // background-color: red;
  padding: 20px 10px;
}
.payment {
  display: flex;
  gap: 25px;
  align-items: center;
  // background-color: red;
  margin-bottom: 12px;

  input {
    width: 100px;
    padding: 4px 8px;
    font-size: 20px;
    text-align: center;
  }
  .profit,
  .money,
  .invested {
    width: 70px;
    background-color: rgb(63, 63, 63);
    border-radius: 4px;
    padding: 4px 4px;
    text-align: center;
    // padding-left: 4px;
    font-size: 20px;
  }
  .neg {
    color: rgb(255, 104, 104);
    background-color: rgb(62, 0, 0);
  }
  .pos {
    color: rgb(1, 255, 1);
    background-color: rgb(0, 64, 0);
  }
  .money {
    color: rgb(114, 208, 255);
    background-color: rgb(0, 54, 81);
    // background-color: rgb(0, 0, 67);
  }
  .invested {
    background-color: rgb(82, 54, 0);
    color: rgb(255, 176, 19);
  }
  .add-btn {
    color: greenyellow;
  }
  .description {
    // background-color: red;
    color: $primary-text-color;
    // font-size: 12px;
  }
}

.total {
  margin: 20px 10px;
  margin-top: 40px;
  padding-bottom: 60px;

  font-size: 20px;
  color: rgb(59, 200, 255);
  color: $primary-text-color;

  .total-value {
    margin-left: 20px;
    color: rgb(50, 255, 50);
    padding: 4px;
    font-size: 22px;
  }
}

.create {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(26, 26, 26);
  display: flex;
  flex-direction: column;
  // justify-content: center;
  gap: 8px;
  width: 100%;
  border-bottom: 2px solid rgb(0, 187, 255);
  border-radius: 8px;
  align-items: center;
  padding: 20px;

  .inputs {
  }

  input {
    font-size: 22px;
  }
  button:not(.submit) {
    font-size: 18px;
    width: 200px;
    margin-bottom: 8px;
    background-color: rgb(0, 157, 255);
    border: none;
  }
}

@media (min-width: 500px) {
  form.create {
    background-color: red;
    top: 50%;
    left: 50%;
    max-width: 250px;
    transform: translate(-50%, -50%);
  }
}

.btns {
  width: 100%;
  display: flex;
  margin-top: 4px;
  align-items: center;
  padding: 0px 8px;
  justify-content: space-between;
  padding: -20px;
  .left {
    display: flex;
    gap: 25px;
  }
  .right {
    button {
      background-color: rgb(0, 157, 255);
      border: 0px;
      font-size: 19px;
    }
  }
}

.add-btn-outer {
  background-color: $btn-color;
  padding: 4px 18px;
  border-radius: 6px;
  padding-bottom: 2.5px;
  display: inline-block;
  font-size: 18px;
  color: white;
  margin-left: 25px;
}
.data {
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: rgb(34, 34, 34);

  #history-head {
    font-size: 22px;
    margin-bottom: 12px;
  }
}

.history {
  .history-item {
    display: flex;
    margin-bottom: 6px;
    gap: 25px;
    align-items: center;

    .history-money {
      font-size: 19px;
      min-width: 65px;
      text-align: center;
    }

    .history-date {
    }
  }
}

.total-got {
  margin-top: 18px;
  display: flex;
  align-items: center;
  gap: 30px;
  .text {
  }
  .value {
    font-size: 22px;
  }
}

.add-money-body {
  padding: 8px 12px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;

  input {
    font-size: 17px;
    width: 100%;
  }

  .row {
    margin-top: 6px;
    gap: 12px;
    input {
      width: 240px;
    }
  }
}

.end-btns {
  display: flex;
  position: fixed;
  bottom: 16px;
  left: 50%;
  translate: -50%;
  width: 75%;
  max-width: 400px;
  gap: 4px;
  button {
    flex-grow: 1;
    border-radius: 0;
    background-color: $btn-color;
    font-size: 17px;
    padding: 10px 10px;

    border: 0px;

    &:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    &:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}
